altair==5.0.1
asttokens==2.0.8
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
blinker==1.6.2
branca==0.6.0
cachetools==5.3.1
cairocffi==1.4.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.5
comm==0.1.0
coverage==6.5.0
cycler==0.11.0
dash==2.7.0
dash-bootstrap-components==1.2.1
dash-bootstrap-templates==1.0.7
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
DateTime==5.1
debugpy==1.6.3
decorator==5.1.1
distro==1.8.0
dnspython==2.3.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.0.1
executing==1.1.0
fastjsonschema==2.17.1
fenics==2019.1.0
fenics-dijitso==2019.1.0
fenics-ffc==2019.1.0.post0
fenics-fiat==2019.1.0
fenics-ufl==2019.1.0
Fiona==1.8.22
Flask==2.2.2
folium==0.13.0
fonttools==4.37.1
geopandas==0.12.1
gitdb==4.0.10
GitPython==3.1.32
html5lib==1.1
idna==3.4
igraph==0.10.2
importlib-metadata==6.8.0
iniconfig==1.1.1
ipykernel==6.18.0
ipython==8.5.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter-core==4.11.1
jupyter_client==7.3.5
kiwisolver==1.4.4
lxml==4.9.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matlab==0.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mendelai-brat-parser==0.0.11
mpmath==1.2.1
munch==2.5.0
nbformat==5.9.0
nest-asyncio==1.5.6
numpy==1.23.3
openpyxl==3.0.10
packaging==21.3
pandas==1.4.4
pandas-datareader==0.10.0
parso==0.8.3
passlib==1.7.4
pickleshare==0.7.5
Pillow==9.2.0
plotly==5.11.0
pluggy==1.0.0
prompt-toolkit==3.0.31
protobuf==4.23.4
psutil==5.9.2
pure-eval==0.2.2
pyarrow==12.0.1
pycairo==1.23.0
pycparser==2.21
pydeck==0.8.1b0
Pygments==2.13.0
pymongo==4.3.3
Pympler==1.0.1
pyparsing==3.0.9
pyproj==3.4.0
pyrsistent==0.19.3
pytest==7.2.0
pytest-cov==4.0.0
python-dateutil==2.8.2
python-igraph==0.10.2
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
pywin32==304
pyzmq==24.0.1
requests==2.28.1
rich==13.4.2
scikit-learn==1.2.2
scipy==1.9.1
seaborn==0.12.2
Shapely==1.8.5.post1
six==1.16.0
sklearn==0.0.post5
smart-open==6.2.0
smmap==5.0.0
soupsieve==2.4.1
stack-data==0.5.1
streamlit==1.24.1
sympy==1.11.1
tabula-py==2.7.0
tenacity==8.1.0
texttable==1.6.7
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
traitlets==5.4.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
unicode==2.9
urllib3==1.26.12
validators==0.20.0
watchdog==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
wordcloud==1.9.2
xlrd==2.0.1
XlsxWriter==3.1.2
zipp==3.16.2
zope.interface==6.0
